.theme-white {
    --primary:  white;
    --secondary: black;
}

.theme-dark {
    --primary: black;
    --secondary: white;
}

.theme-blue {
    --primary: #0000AA;
    --secondary: #0088FF;
}

.theme-yellow {
    --primary: black;
    --secondary: #ffff33;
}

body {
    margin: 5pt;
    margin-right: 5pt;
    margin-bottom: 5pt;
    padding: 0;
    overflow: hidden;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: normal;
    background-color: var(--primary);
}

.selected {
    color: var(--primary);
    background: var(--secondary);
}

.unselected {
    color: var(--secondary);
    background: var(--primary);
}

span.cell {
    font-size: 20px;
    line-height: 20pt;
    background-color: var(--primary);
    color: var(--secondary);
    white-space: pre;
}

div#interface {
    display: inline-flex;
    gap: 50px;
    padding: 0;
    background-color: var(--primary);
    color: var(--secondary);
}

div#interface p {
    padding: 0; margin: 0;
}

div#cmd {
    margin: 0pt;
}

input#prompt{
    font-size: 16px;
    font-family: monospace;
    padding: 0;
    border: none;
    margin: 0;
    width: 100vw;
}

textarea:focus, input:focus{
    outline: none;
}


