.theme-white {
    --primary:  white;
    --secondary: black;
}

.theme-dark {
    --primary: black;
    --secondary: white;
}

.theme-black {
    --primary: black;
    --secondary: white;
}


.theme-royal {
    --primary: #00539C;
    --secondary: #EEA47F;
}

.theme-bee {
    --primary: #101820;
    --secondary:#FEE715;
}

.theme-lavender {
    --primary: #7689de;
    --secondary: #a9dce3;
}

.theme-jungle {
    --primary: #008970;
    --secondary: #99eedf;
}

.theme-forest {
    --primary: #2C5F2D;
    --secondary: #97BC62FF;
}

.theme-sky {
    --primary: #89ABE3FF;
    --secondary: #FCF6F5FF;
}

.theme-cherry {
    --primary: #990011FF;
    --secondary: #FCF6F5FF;
}

.theme-blue {
    --primary: #0000AA;
    --secondary: #0088FF;
}

.theme-yellow {
    --primary: black;
    --secondary: #ffff33;
}

.theme-hurt {
    --primary: #F93822FF;
    --secondary: #FDD20EFF;
}

.theme-sugar {
    --primary: #F1F4FFFF;
    --secondary: #A2A2A1FF;
}

.theme-neon {
    --primary: #1C1C1BFF;
    --secondary: #CE4A7EFF;
}

.theme-atoll {
    --primary: #00B1D2FF;
    --secondary: #FDDB27FF;
}

body {
    margin: 5pt;
    margin-right: 5pt;
    margin-bottom: 5pt;
    padding: 0;
    overflow: hidden;
    font-family: "jgs7";
    font-size: 16px;
    letter-spacing: normal;
    background-color: var(--primary);
}

span {
    font-family: "jgs7";
}

.selected {
    color: var(--primary);
    background: var(--secondary);
}

.unselected {
    color: var(--secondary);
    background: var(--primary);
}

span.row {
    display: block;
}

span.cell {
    font-size: 20px;
    line-height: 1em;
    background-color: var(--primary);
    color: var(--secondary);
    white-space: pre;
}

span.reversed-cell {
    font-size: 20px;
    line-height: 1em;
    background-color: var(--secondary);
    color: var(--primary);
    white-space: pre;
}

div#interface {
    display: inline-flex;
    gap: 50px;
    padding: 0;
    background-color: var(--primary);
    color: var(--secondary);
}

div#interface p {
    padding: 0; margin: 0;
}

div#cmd {
    margin: 0pt;
}

input#prompt{
    font-size: 16px;
    font-family: "jgs7";
    padding: 0;
    border: none;
    margin: 0;
    width: 100vw;
}

textarea:focus, input:focus{
    outline: none;
}


